@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,700,600,300');
@import url('https://fonts.googleapis.com/css?family=Inter:500');

$padding-between-grid: 23%;
$border-color: #D0C6C6;
$padding-LR: 12.3%;
body {
  color: #000;
  background-color: #ECE7E3;
  padding: 0px;
  margin: 0px;
  font-family: Rajdhani;
}
h1,
h2,
h3,
p {
  padding: 0px;
  margin: 0px;
  width: fit-content;
}
h1 {
  font-family: Inter;
  font-size: 4rem;
  font-weight: 500;
}
.card {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  border: solid $border-color 1px;
  height: 100vh;
}
.decoline {
  position: absolute;
  border-left: solid $border-color 1px;
  height: 100vh;
  left: $padding-LR;

  &:nth-child(2) {
    right: $padding-LR;
  }
}
.header {
  padding-top: 64px;
}