@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,700,600,300')
@import url('https://fonts.googleapis.com/css?family=Inter:500')

$padding-between-grid: 23vw
$border-color: #D0C6C6
$padding-LR: 2.3%
body
    color: #000
    background-color: #ECE7E3
    padding: 0px
    margin: 0px
    font-family: Rajdhani
h1,
h2,
h3,
p
    padding: 0px
    margin: 0px
    width: fit-content
h1
    font-family: Inter
    font-size: 4rem
    font-weight: 500
.card
    position: relative
    display: flex
    flex-direction: column
    margin-left: 10%
    margin-right: 10%
    border: solid $border-color 1px
    height: 100vh
.decoline
    border-left: solid $border-color 1px
    height: 100vh
.line1
    position: absolute
    left: $padding-LR

.line2
    position: absolute
    right: $padding-LR
.gridline
    position: absolute
    display: flex
    gap: $padding-between-grid
    left: $padding-between-grid
.header
    padding-top: 64px
